body {
	margin: 0;
	padding: 0;
		.sizer1 {
			width: 100%;
		}
		.sizer2 {
			width: 50%;
		}
		.sizer4 {
			width: 25%;
		}
		.item-masonry img {
			display: block;
			vertical-align: middle;
			width: 100%;
			transition: 1s;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
				transition: 1s;
			}
		}
	#filter {
		display: flex;
		list-style: none;
		justify-content: space-around;
		.filter_item {
			cursor: pointer;
			border: 1px solid orange;
			border-radius: 10px;
			font-size: 20px;
			padding: 10px;
		}
	}
}
